.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.positive-notification {
  color: rgb(166, 255, 200);
  background: darkgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.info {
  color: rgb(166, 255, 200);
  background: darkgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-tile {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

.delete-button {
  color: lightsalmon;
  background-color: steelblue;
}
.delete-button:hover {
  color: darksalmon;
  border-color: darkslateblue;
  border-width: 3px;
}